'attacks.csv'
attacks.csv
jgvr6pbrbo0b.webp
mortality_by_activity.png
mortality_by_gender.png
mortality_by_time.png
'jgvr6pbrbo0b.webp'
'mortality_by_activity.png'
'mortality_by_gender.png'
'mortality_by_time.png'
